{% extends 'base.html.twig' %}

{% block title %}LicensePlates{% endblock %}

{% block body %}
    <h1>LicensePlates</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ license_plate.id }}</td>
            </tr>
            <tr>
                <th>License_plate</th>
                <td>{{ license_plate.licensePlate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('license_plates_index') }}">back to list</a>

    <a href="{{ path('license_plates_edit', {'id': license_plate.id}) }}">edit</a>

    {{ include('license_plates/_delete_form.html.twig') }}
{% endblock %}
