{% extends 'base.html.twig' %}

{% block title %}Report Activity{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Activities ✅</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Blocker Plate</th>
            <th>Blockee Plate</th>
        </tr>
        </thead>
        <tbody>
        {% if  activeActivities %}
            {% for activity in activeActivities %}
            <tr>
                <td>{{ activity.blocker }}</td>
                <td>{{ activity.blockee }}</td>
                <td><a href="{{ path('deleteActivity', {'status': activity.status}) }}">Remove</a></td>
            </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>


    <h1>Do you have something to report? ✅</h1>

    What do you report?:
    <ul>
        <li><a href="{{ path('activityType', {'type': 'blockee', 'activityRepository': activityRepository})}}">I was blocked</a></li>
        <li><a href="{{ path('activityType', {'type': 'blocker', 'activityRepository': activityRepository})}}">I blocked </a></li>
    </ul>
</div>

    <br>
    <a href="{{ path('home') }}">Back to Home</a>
{% endblock %}
