<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                  crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    {% block navBar %}
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: orange">
            <div class="container-fluid ">
                <a class="navbar-brand" href="#">UnblockMe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('showMyCars') }}">MyCars</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link active" href="{{ path('activity') }}">Activities</a>
                        </li>
                    </ul>
                    <div class = "dropdown d-flex navbar-nav">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settings
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('myProfile') }}">Profile</a></li>

                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>

    {% endblock %}

    <body>


        {% for label,messages in app.flashes(['notice','error']) %}
            {% for message in messages %}
                <div class = "flash-notice">
                    {{ message }}
                </div>
                {% endfor %}
        {% endfor %}

        {% block body %}

        {% endblock %}
    </body>
</html>
