{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class = "border align-center mt-5" style="max-width: 480px;margin: auto; color: orange; border-spacing: 5px">
        <h1 class="text-center m-3">Change Password</h1>

        <div class="form-control form-lg" style="color: orange; border: orangered">

            <div class="align-left m-3">
                <label class="form-label">
                    {{ form_label(form.OldPassword, null, {
                        'label': 'Old Password',
                        'label_attr':{
                            'class': 'fs-3',
                        }
                    }) }}
                </label>
                <br>
                {{ form_widget(form.OldPassword) }}

            </div>
            <div class="align-left m-3">
                <label class="form-label">
                    {{ form_label(form.plainPassword.first, null, {
                        'label': 'New Password',
                        'label_attr':{
                            'class': 'fs-3',
                        }
                    }) }}
                </label>
                <br>
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="align-left m-3">
                <label class="form-label">
                    {{ form_label(form.plainPassword.second, null, {
                        'label': 'Repeat Password',
                        'label_attr':{
                            'class': 'fs-3',
                        }
                    }) }}
                </label>
                <br>
                {{ form_widget(form.plainPassword.second) }}
                {{ form_help(form.plainPassword) }}

            </div>
            <div class="text-center">

                {{ form_widget(form.Save,{
                    'attr':{
                        'class': 'btn-outline-warning btn-lg',
                    }
                }) }}


            </div>

        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}
